/* .library-header {
  background-color: #198754;
  padding: 30px;
  color: white;
  font-weight: 600;
}

.library-banner {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.library-card {
  background: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s ease;
  height: 100%;
}

.library-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.library-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.breadcrumb-text a {
  color: #198754;
  text-decoration: none;
} */

.library-header {
  background-color: #198754; /* Bootstrap green */
  color: white;
}

.carousel-img {
  height: 400px;
  object-fit: cover;
}

h3 {
  font-weight: 600;
}

p {
  font-size: 15px;
}

.library-description {
  background-color: #f8f9fa;
  padding: 40px 20px;
  border-radius: 10px;
}

.library-description p {
  max-width: 10000px;
  margin: auto;
  font-size: 15px;
  line-height: 1.6;
}